* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
}

.container {
	padding: 0 15px;
	max-width: 1430px;
	margin: 0 auto;
}

ul,
p {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.title {
	font-weight: 400;
	font-size: 50px;
	line-height: 50px;
	color: $lighBlack;
}

.subtitle {
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: $lightGray;
}

.button__more {
	display: inline-flex;
	align-items: center;
	column-gap: 12px;
	a, button {
		width: 55px;
		height: 55px;
		background: $blue;
		border-radius: 50%;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border: none;
	}
	span {
		font-weight: 400;
		font-size: 16px;
		line-height: 30px;
		color: $lighBlack;
	}
	&:hover {
		a, button{
			opacity: 0.8;
			@include hover;
		}
		span {
			opacity: 0.8;
			color: $blue;
			@include hover;
		}
	}
	&.button__more-news {
		span {
			order: -1;
		}
	}
	&.button__more-new a{
		background-color: $black;
	}
}

//-------Header start------------
.header {
	background-color: $white;
}

.header__container {
	padding: 24px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	column-gap: 30px;
}

.header__menu {
	display: flex;
	align-items: center;
}

.header__items {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 44px;
	margin: 0 50px 0 60px;
}

.header__link {
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	text-transform: uppercase;
	color: $lighBlack;
	&:hover {
		color: $blue;
		@include hover;
	}
}

.header__search {
	img:hover {
		@include hover;
		transform: scale(1.2);
	}
}

.header__panel {
	display: flex;
	align-items: center;
	column-gap: 20px;
	font-weight: 400;
	font-size: 20px;
	line-height: 150%;
	color: $black;
}

.header__panel-items {
	display: flex;
	column-gap: 30px;
}

.panel-item {
	position: relative;
	width: 49px;
	height: 49px;
	border-radius: 50%;
	background: $darkWhite;
	display: flex;
	align-items: center;
	justify-content: center;
	img{
		width: 22px;
	}
	&:hover {
		background: $blue;
		@include hover;
	}
}

.panel-item__count {
	position: absolute;
  top: -2px;
  right: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: $colorCount;
  display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	font-size: 12px;
	line-height: 14px;
	color: $white;
}
//------Header end---------------


//-------Section best start------
.best__container {
	display: flex;
	position: relative;
}

.best__goods {
	background: $lightWhite;
	width: 73.5%;
}

.goods__container {
	display: flex;
	align-items: center;
	padding: 72px 60px 52px 15px;
	justify-content: flex-end;
}

.goods__title {
	margin: 15px 0 60px 0;
	line-height: 59px;
}

.goods__content {
	max-width: 404px;
}

.goods__del img{
	position: absolute;
	top: 97px;
}

.goods__info {
	display: flex;
	align-items: flex-end;
	column-gap: 105px;
	height: 350px;
	position: relative;
}

.goods__scrool {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 16px;
	&:hover {
		color: $blue;
		transform: translateY(-10px);
		@include hover;
	}
	p {
		writing-mode: tb;
		transform: rotate(180deg);
	}
}

.goods__carousel {
	position: relative;
}

.carousel__slider {
	max-width: 100%;
	img {
		width: 100%;
	}
}

.carousel__buttons {
	display: inline-flex;
	column-gap: 75px;
	position: absolute;
	right: -212px;
	bottom: 104px;
}

.carousel__dots {
	display: flex;
	align-items: center;
	column-gap: 10px;
}

.carousel__dot {
	width: 5px;
	height: 5px;
	background: #D0D0D0;
	border-radius: 50%;
	&_active {
		width: 10px;
		height: 10px;
		background: $black;
	}
	&:hover {
		@include hover;
		background-color: $black;
	}
}

.carousel__button {
	border: none;
	background: inherit;
	&:hover {
		@include hover;
		transform: translateX(16px);
	}
}

.best__offers {
	width: 26.5%;
	background: $darkWhite;
}

.offers__container {
	max-width: 100%;
	position: relative;
	img {
		width: 100%;
	}
	p {
		font-weight: 400;
		font-size: 25px;
		line-height: 130%;
		color: $lighBlack;
		max-width: 181px;
		position: absolute;
		left: 40px;
		bottom: 63px;
	}
}
//-------Section best end--------


//------Section catalog start-----
.catalog__container {
	padding: 164px 0 180px 0;
}

.catalog__subtitle {
	margin: 29px 0 46px 0;
}

.catalog__items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px;
}

.catalog__item {
	background: $lightWhite;
	border-radius: 20px;
	position: relative;
	&:nth-child(2) img {
		position: absolute;
		top: -10px;
	}
	&:nth-child(3) img {
		position: absolute;
		top: -21px;
		right: 58px;
	}
	&:nth-child(6) img {
		position: absolute;
		right: 30px;
	}
	&.catalog__info {
		border-radius: 0;
		background: initial;
		max-width: 372px;
	}
}

.catalog__figure {
	margin-bottom: 48px;
}

.catalog__number {
	font-weight: 100;
	font-size: 25px;
	line-height: 150%;
	color: $lighBlack;
	position: absolute;
  top: 40px;
  left: 40px;
}

.catalog__count {
	font-weight: 300;
	font-size: 18px;
	line-height: 24px;
	color: $lightGray;
}

.catalog__name {
	font-weight: 400;
	font-size: 25px;
	line-height: 150%;
	color: $lighBlack;
}

.catalog__desc {
	display: flex;
	flex-direction: column;
	row-gap: 4px;
	position: relative;
	top: 10px;
}

.catalog__image {
	max-width: 415px;
	height: 242px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 13px;
	img {
		max-width: 100%;
	}
}
//------Section catalog end-------


//-----Section advantages start------
.advantages {
	background: $lightWhite;
	position: relative;
}

.advantages__main,
.advantages__info {
	position: relative;
	left: -80px;
}

.advantages__subtitle {
	margin: 37px 0 41px 0;
}

.advantages__best {
	position: absolute;
	top: 166px;
	left: 8px;
}

.advantages__container {
	display: flex;
	flex-direction: column;
	padding: 87px 0 45px 0;
	row-gap: 48px;
	position: relative;
}

.advantages__main {
	display: flex;
}

.advantages__info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	top: -18px;
}

.advantages__items {
	display: flex;
	flex-wrap: wrap;
	gap: 26px;
}

.advantages__item {
	background: $lighBlack;
	border-radius: 18px;
	position: relative;
	padding: 30px 28px 35px 30px;
	max-width: 330px;
}

.advantages__back {
	position: absolute;
	top: 0;
	right: 0;
}

.advantages__img {
	width: 70px;
	height: 70px;
	background: #343A41;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 27px;
}

.advantages__text {
  display: flex;
	flex-direction: column;
  row-gap: 13px;
}

.advantage__title {
	font-family: 'Euclid Circular A', sans-serif;
	font-weight: 700;
	font-size: 22px;
	line-height: 28px;
	color: $white;
}

.advantages__desc {
	font-family: 'Euclid Circular A', sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
	color: #B7B7B7;
}
//-----Section advantages end--------


//----Section news start------------
.news {
	background: $veryLightWhite;
}

.news__container {
	display: flex;
	flex-direction: column;
	row-gap: 70px;
	padding: 172px 0 180px 0;
}

.news__info {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.news__text {
	display: flex;
	flex-direction: column;
	row-gap: 34px;
	max-width: 721px;
}

.news__items {
	display: flex;
	flex-wrap: wrap;
	row-gap: 40px;
	column-gap: 64px;
}

.news__item {
	display: flex;
	flex-direction: column;
	background-color: $white;
	position: relative;
	max-height: 364px;
}

.news__date {
	background: $white;
	box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.06);
	border-radius: 15px;
	width: 50px;
	height: 97px;
	position: absolute;
	top: 65px;
	right: calc(-50px / 2);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.news__number {
	font-weight: 900;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	color: $lighBlack;
}

.news__month {
	font-weight: 400;
	font-size: 12px;
	line-height: 23px;
	text-align: center;
	color: $lighBlack;
}

.news__img {
	max-width: 100%;
	img {
		width: 100%;
	}
}

.news__img img, 
.news__item{
	border-radius: 50px 0 ;
}

.news__main {
	display: flex;
	flex-direction: column;
}

.news__title-button {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.news__article {
	font-weight: 700;
	font-size: 25px;
	line-height: 130%;
	max-width: 307px;
	background: $white;
	top: -45px;
	padding-top: 24px;
	border-radius: 0 48px 0 0;
}

.news__article, 
.news__desc {
	position: relative;
	padding-left: 30px;
	color: $lighBlack;
}

.news__desc {
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
  top: -34px;
}

.news__button {
	position: absolute;
	bottom: 59px;
	right: 16px;
	&:hover {
		@include hover;
	}
}
//----Section news end--------------


//----Section connets start----------
.connect__backgrounds {
	display: flex;
	flex-direction: column;
}

.backgrounds__first {
	height: 346px;
	background: $veryLightWhite;
}

.backgrounds__second {
	background: linear-gradient(0deg, #EEEEEE, #EEEEEE), linear-gradient(0deg, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42));
	height: 676px;
	position: relative;
	img {
		position: absolute;
		bottom: 55px;
    left: 11px;
	}
}

.connect__subtitle {
	font-size: 16px;
}

.connect__container {
	position: relative;
}

.connect__wrapper {
	display: flex;
	position: absolute;
	top: 0;
}

.connect__contacts, 
.connect__review {
	width: 700px;
	display: flex;
	flex-direction: column;
	row-gap: 55px;
}

.contact__title {
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	color: $lightGray;
}

.connect__contacts {
	background: #F9F9F9;
	border-radius: 20px 0px 0px 20px;
	padding: 98px 165px 104px 100px;
}

.connect__review {
	background: $lighBlack;
	border-radius: 0px 20px 20px 0px;
	padding: 100px 129px;
	row-gap: 63px;
	.connect__subtitle {
		color: $white;
	}
}

.connect__iphone {
	position: absolute;
  left: calc(50% - 420px/2);
  top: 145px;
}

.review__title {
	color: $white;
}

.review__title,
.contacts__title {
	margin-bottom: 20px;
}

.contacts__items {
	display: flex;
	flex-direction: column;
	.contact__item:nth-child(1) {
		margin-bottom: 50px;
	}
		.contact__item:nth-child(2) {
		margin-bottom: 73px;
	}
}

.contact__item {
	display: flex;
	column-gap: 17px;
	img {
		width: 36px;
		height: 36px;
	}
}

.contact__info {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
	max-width: 358px;
	&.contact__item-socials {
		flex-direction: row;
    margin-top: 60px;
    column-gap: 18px;
		a:hover {
			@include hover;
			transform: scale(1.2);
		}
	}
}

.contact__info {
	font-weight: 400;
	font-size: 22px;
	line-height: 150%;
	color: $lighBlack;
}

.connect__form {
	display: flex;
	flex-direction: column;
	row-gap: 53px;
}

.connect__item {
	position: relative;
}

.connect__label {
	font-weight: 300;
	font-size: 18px;
	line-height: 24px;
	color: $lightWhite;
  background-color:  $lighBlack;
  position: absolute;
  padding: 0 12px;
	top: -11px;
	left: 11px;
}

.connect__input {
	border: 1.5px solid rgba(242, 242, 242, 0.5);
	border-radius: 20px;
	background-color: inherit;
	width: 434px;
	padding: 15px;
	height: 60px;
	font-weight: 300;
	font-size: 18px;
	line-height: 24px;
	color: $lightWhite;
	&-textarea {
		height: 145px;
	}
}

.button__review {
	span {
		color: $white;
	}
}
//----Section connect end------------


//-----Footer start-------------
.footer {
	position: relative;
	background-color: $white;
}

.footer__image {
	position: absolute;
	bottom: 160px;
	right: 0;
}

.footer__container {
	padding: 60px 0 40px 0;
}

.footer__links {
	display: flex;
	column-gap: 190px;
	position: relative;
	align-items: center;
	padding-bottom: 60px;
	&:before {
		content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    background-color: #E5E5E5;
	}
}

.footer__logo img{
	width: 112px;
}

.footer__menu {
	display: flex;
	column-gap: 183px;
}

.footer__menu-items {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
}

.menu-items__title {
	font-weight: 400;
	font-size: 25px;
	line-height: 29px;
	color: $lighBlack;
}

.menu__items {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.menu__item a {
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	color: $lighBlack;
	&:hover {
		@include hover;
		color: $blue;
	}
}

.info__items {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 30px;
	padding-top: 40px;
}

.info__item {
	display: flex;
	flex-direction: column;
	row-gap: 11px;
	&.info__item-socials {
		flex-direction: row;
		column-gap: 18px;
		a:hover {
			@include hover;
			transform: scale(1.2);
		}
	}
}

.info__title {
	font-weight: 400;
	font-size: 16px;
	line-height: 133.69%;
	color: $lightGray;
}

.info__desc {
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: $lighBlack;
}
//-----Footer end---------------