* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

.container {
	padding: 0 15px;
	max-width: 1430px;
	margin: 0 auto;
}

ul,
p {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.button__more {
	display: inline-flex;
	align-items: center;
	column-gap: 12px;
	a {
		width: 55px;
		height: 55px;
		background: $blue;
		border-radius: 50%;
		display: inline-flex;
		align-items: center;
		justify-content: center;
	}
	span {
		font-weight: 400;
		font-size: 16px;
		line-height: 30px;
		color: $lighBlack;
	}
	&:hover {
		a {
			opacity: 0.8;
			@include hover;
		}
		span {
			opacity: 0.8;
			color: $blue;
			@include hover;
		}
	}
}

//-------Header start------------
.header {
	background-color: $white;
}

.header__container {
	padding: 24px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 30px;
}

.header__menu {
	display: flex;
	align-items: center;
}

.header__items {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 44px;
	margin: 0 50px 0 60px;
}

.header__link {
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	text-transform: uppercase;
	color: $lighBlack;
	&:hover {
		color: $blue;
		@include hover;
	}
}

.header__search {
	display: flex;
	align-items: center;
	img:hover {
		@include hover;
		transform: scale(1.2);
	}
}

.header__panel {
	display: flex;
	align-items: center;
	column-gap: 20px;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 150%;
	color: $black;
}

.header__panel-items {
	display: flex;
	column-gap: 30px;
}

.panel-item {
	position: relative;
	width: 49px;
	height: 49px;
	border-radius: 50%;
	background: $darkWhite;
	display: flex;
	align-items: center;
	justify-content: center;
	img{
		width: 22px;
	}
	&:hover {
		background: $blue;
		@include hover;
	}
}

.panel-item__count {
	position: absolute;
  top: -2px;
  right: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: $colorCount;
  display: flex;
	justify-content: center;
	align-items: center;
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 14px;
	color: $white;
}
//------Header end---------------


//-------Section best start------
.best__container {
	display: flex;
	position: relative;
}

.best__goods {
	background: $lightWhite;
	width: 73.5%;
}

.goods__container {
	display: flex;
	align-items: center;
	padding: 72px 60px 52px 15px;
	justify-content: flex-end;
}

.goods__del img{
	position: absolute;
	top: 97px;
}

.goods__info {
	display: flex;
	align-items: flex-end;
	column-gap: 105px;
	height: 340px;
	position: relative;
}

.goods__scrool {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 16px;
	&:hover {
		color: $blue;
		transform: translateY(-10px);
		@include hover;
	}
	p {
		writing-mode: tb;
		transform: rotate(180deg);
	}
}

.goods__new {
	font-weight: 300;
	font-size: 18px;
	line-height: 24px;
	color: $lightGray;
}

.goods__title {
	font-weight: 400;
	font-size: 50px;
	line-height: 59px;
	color: $lighBlack;
	max-width: 404px;
	margin: 15px 0 60px 0;
}

.goods__carousel {
	position: relative;
}

.carousel__slider {
	max-width: 100%;
	img {
		width: 100%;
	}
}

.carousel__buttons {
	display: inline-flex;
	column-gap: 80px;
	position: absolute;
	right: -212px;
	bottom: 100px;
}

.carousel__dots {
	display: flex;
	align-items: center;
	column-gap: 10px;
}

.carousel__dot {
	width: 5px;
	height: 5px;
	background: #D0D0D0;
	border-radius: 50%;
	&_active {
		width: 10px;
		height: 10px;
		background: $black;
	}
	&:hover {
		@include hover;
		background-color: $black;
	}
}

.carousel__button {
	border: none;
	background: inherit;
	&:hover {
		@include hover;
		transform: translateX(16px);
	}
}

.best__offers {
	width: 26.5%;
	background: $darkWhite;
}

.offers__container {
	max-width: 100%;
	position: relative;
	img {
		width: 100%;
	}
	p {
		font-weight: 700;
		font-size: 25px;
		line-height: 130%;
		color: $lighBlack;
		max-width: 181px;
		position: absolute;
		left: 40px;
		bottom: 63px;
	}
}
//-------Section best end--------


//------Section catalog start-----
.catalog__container {
	padding: 164px 0 180px 0;
}

.catalog__items {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px;
}

.catalog__item.catalog__info {
	border-radius: 0;
	background: initial;
	.info__title {
		font-weight: 400;
		font-size: 50px;
		line-height: 50px;
		color: $lighBlack;
		max-width: 378px;
		display: inline-block;
	}
	p {
		font-weight: 300;
		font-size: 18px;
		line-height: 150%;
		color: $lightGray;
		margin: 29px 0 46px 0;
	}
}

.catalog__item {
	background: $lightWhite;
	border-radius: 20px;
	position: relative;
	&:nth-child(2) img {
		position: absolute;
		top: -10px;
	}
	&:nth-child(3) img {
		position: absolute;
		top: -21px;
		right: 58px;
	}
	&:nth-child(6) img {
		position: absolute;
		right: 30px;
	}
}

.catalog__number {
	font-weight: 100;
	font-size: 25px;
	line-height: 150%;
	color: $lighBlack;
	position: absolute;
  top: 40px;
  left: 40px;
}

.catalog__count {
	font-weight: 300;
	font-size: 18px;
	line-height: 24px;
	color: $lightGray;
}

.catalog__name {
	font-weight: 400;
	font-size: 25px;
	line-height: 150%;
	color: $lighBlack;
}

.catalog__desc {
	display: flex;
	flex-direction: column;
	row-gap: 2px;
	margin: 0 0 40px 40px;
}

.catalog__image {
	max-width: 415px;
	height: 275px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 13px;
	margin: 0 auto;
	img {
		max-width: 100%;
	}
}
//------Section catalog end-------


//-----Section advantages start------
.advantages {
	background: $lightWhite;
	position: relative;
}

.advantages__best {
	position: absolute;
	top: 152px;
}

.advantages__container {
	display: flex;
	flex-direction: column;
	padding: 87px 0 45px 0;
	row-gap: 48px;
	position: relative;
}

.advantages__main {
	display: flex;
}

.advantages__info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 13px;
}

.advantages__title {
	font-weight: 400;
	font-size: 50px;
	line-height: 50px;
	color: $lighBlack;
}

.advantages__text {
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: $lightGray;
	margin: 37px 0 41px 0;
}

.advantages__items {
	display: flex;
	column-gap: 27px;
}

.advantages__item {
	background: $lighBlack;
	border-radius: 18px;
	position: relative;
	padding: 30px 28px 35px 30px;
	max-width: 330px;
}

.advantages__back {
	position: absolute;
	top: 0;
	right: 0;
}

.advantages__image {
	width: 70px;
	height: 70px;
	background: #343A41;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 25px;
}

.advantage__title {
	font-family: 'Euclid Circular A', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 28px;
	color: $white;
}

.advantages__desc {
	font-family: 'Euclid Circular A', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
	color: #B7B7B7;
}
//-----Section advantages end--------


//-----Footer start-------------
.footer {
	position: relative;
}

.footer__image {
	position: absolute;
	bottom: 160px;
	right: 0;
}

.footer__container {
	padding: 60px 0 40px 0;
}

.footer__links {
	display: flex;
	column-gap: 190px;
	position: relative;
	padding-bottom: 60px;
	&:before {
		content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    background-color: #E5E5E5;
	}
}

.footer__logo img{
	width: 112px;
}

.footer__menu {
	display: flex;
	column-gap: 188px;
}

.footer__menu-items {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
}

.menu-items__title {
	font-weight: 400;
	font-size: 25px;
	line-height: 29px;
	color: $lighBlack;
}

.menu__items {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.menu__item a {
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	color: $lighBlack;
	&:hover {
		@include hover;
		color: $blue;
	}
}

.info__items {
	display: flex;
	column-gap: 153px;
	padding-top: 40px;
}

.info__item {
	display: flex;
	flex-direction: column;
	row-gap: 11px;
	&.info__item-socials {
		flex-direction: row;
		column-gap: 18px;
		a:hover {
			@include hover;
			transform: scale(1.2);
		}
	}
}

.info__title {
	font-weight: 400;
	font-size: 16px;
	line-height: 133.69%;
	color: $lightGray;
}

.info__desc {
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: $lighBlack;
}
//-----Footer end---------------